body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
body {
	-epub-hyphens:auto;
}
div.Antigos_PG-Direita {
	border-style:solid;
	background-color:#ffffff;
}
div.Antigos_PG-Esquerda {
	border-style:solid;
	background-color:#ffffff;
}
table.Tabela-b-sica {
	border-collapse:collapse;
	border-color:#000000;
	border-style:solid;
	border-width:1px;
	margin-bottom:-4px;
	margin-top:4px;
}
td.Tabela-b-sica {
	border-left-width:1px;
	border-left-style:solid;
	border-left-color:#000000;
	border-top-width:1px;
	border-top-style:solid;
	border-top-color:#000000;
	border-right-width:1px;
	border-right-style:solid;
	border-right-color:#000000;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:#000000;
	padding-top:4px;
	padding-bottom:4px;
	padding-left:4px;
	padding-right:4px;
	vertical-align:top;
}
p.Cap-tulo {
	color:#000000;
	font-family:Arial, sans-serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.2;
	margin-bottom:3px;
	margin-left:0;
	margin-right:0;
	margin-top:6px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Normal {
	-epub-hyphens:none;
	color:#000000;
	font-family:Calibri, sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:8px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Par-grafo-b-sico {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Texto-com-recuo {
	color:#000000;
	font-family:Arial, sans-serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:3px;
	margin-left:28px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.T-tulo-02 {
	color:#0080c9;
	font-family:"Frutiger LT Std 45 Light", sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.182;
	margin-bottom:3px;
	margin-left:0;
	margin-right:0;
	margin-top:17px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.T-tulo-03-margem {
	-epub-hyphens:none;
	color:#000000;
	font-family:Arial, sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.182;
	margin-bottom:3px;
	margin-left:0;
	margin-right:0;
	margin-top:11px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.T-tulo-04 {
	-epub-hyphens:none;
	color:#fbba00;
	font-family:Arial, sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.182;
	margin-bottom:3px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.T-tulo-04-margem {
	-epub-hyphens:none;
	color:#fbba00;
	font-family:Arial, sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.182;
	margin-bottom:3px;
	margin-left:0;
	margin-right:0;
	margin-top:11px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
li.bullet-texto-inicial {
	color:#000000;
	font-family:Arial, sans-serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	list-style-position:outside;
	margin-bottom:0;
	margin-left:28px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
li.questao-a-, p.questao-a- {
	color:#000000;
	font-family:Arial, sans-serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.3;
	list-style-position:outside;
	list-style-type:lower-alpha;
	margin-bottom:3px;
	margin-left:20px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.texto, li.texto {
	color:#000000;
	font-family:Arial, sans-serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:3px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:20px;
	text-transform:none;
	widows:1;
}
li.texto-bullet {
	color:#000000;
	font-family:Arial, sans-serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	list-style-position:outside;
	margin-bottom:3px;
	margin-left:28px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.texto-sem-recuo {
	color:#000000;
	font-family:Arial, sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.364;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
span.expoente {
	font-size:11px;
	vertical-align:super;
}
td.CellOverride-1 {
	background-color:#fbba00;
	border-bottom-color:#ffffff;
	border-left-color:#ffffff;
	border-right-color:#ffffff;
	border-top-color:#ffffff;
	padding-bottom:3px;
	padding-left:3px;
	padding-right:3px;
	padding-top:3px;
	vertical-align:middle;
}
td.CellOverride-2 {
	background-color:#ffdd94;
	border-bottom-color:#ffffff;
	border-left-color:#ffffff;
	border-right-color:#ffffff;
	border-top-color:#ffffff;
	padding-bottom:3px;
	padding-left:3px;
	padding-right:3px;
	padding-top:3px;
	vertical-align:middle;
}
p.ParaOverride-1 {
	text-indent:14px;
}
p.ParaOverride-2 {
	text-align:left;
}
p.ParaOverride-3 {
	text-align:center;
	text-indent:0px;
}
p.ParaOverride-4 {
	margin-bottom:6px;
	text-indent:0px;
}
p.ParaOverride-5 {
	margin-bottom:0px;
}
p.ParaOverride-6 {
	margin-bottom:0px;
	margin-top:6px;
}
p.ParaOverride-7 {
	text-indent:20px;
}
p.ParaOverride-8 {
	margin-top:3px;
	text-indent:20px;
}
li.ParaOverride-9 {
	margin-bottom:71px;
	text-indent:0px;
}
li.ParaOverride-10 {
	margin-bottom:91px;
	text-indent:0px;
}
p.ParaOverride-11 {
	list-style-position:inside;
	list-style-type:none;
	margin-left:2px;
	page-break-after:always;
	text-indent:0px;
}
p.ParaOverride-12 {
	margin-top:0px;
}
p.ParaOverride-13, li.ParaOverride-13 {
	margin-bottom:0px;
	text-indent:0px;
}
p.ParaOverride-14 {
	margin-bottom:0px;
	margin-left:20px;
	text-indent:0px;
}
li.ParaOverride-15 {
	margin-bottom:0px;
	margin-top:6px;
	text-indent:0px;
}
p.ParaOverride-16 {
	margin-bottom:0px;
	margin-top:11px;
}
li.ParaOverride-17 {
	margin-bottom:0px;
	margin-top:3px;
	text-indent:0px;
}
p.ParaOverride-18 {
	margin-bottom:0px;
	margin-top:14px;
}
p.ParaOverride-19 {
	margin-bottom:0px;
	margin-top:20px;
}
li.ParaOverride-20 {
	margin-bottom:0px;
	margin-top:11px;
	text-indent:0px;
}
p.ParaOverride-21 {
	margin-bottom:0px;
	margin-top:40px;
}
p.ParaOverride-22 {
	margin-bottom:0px;
	text-align:left;
	text-indent:11px;
}
p.ParaOverride-23 {
	margin-bottom:0px;
	page-break-after:always;
}
p.ParaOverride-24 {
	margin-bottom:6px;
	margin-top:6px;
	text-align:center;
}
p.ParaOverride-25 {
	margin-top:11px;
}
li.ParaOverride-26, p.ParaOverride-26 {
	text-indent:0px;
}
li.ParaOverride-27 {
	margin-top:11px;
	text-indent:0px;
}
li.ParaOverride-28 {
	margin-top:3px;
	text-indent:0px;
}
p.ParaOverride-29 {
	margin-left:20px;
	text-indent:0px;
}
li.ParaOverride-30 {
	margin-top:57px;
	text-indent:0px;
}
p.ParaOverride-31 {
	margin-left:17px;
	margin-top:9px;
}
p.ParaOverride-32 {
	margin-top:6px;
}
li.ParaOverride-33 {
	margin-bottom:0px;
	margin-top:9px;
	text-indent:0px;
}
li.ParaOverride-34 {
	margin-bottom:0px;
	margin-top:82px;
	text-indent:0px;
}
li.ParaOverride-35 {
	margin-top:6px;
	text-indent:0px;
}
p.ParaOverride-36 {
	text-align:center;
}
p.ParaOverride-37 {
	margin-bottom:3px;
}
p.ParaOverride-38 {
	page-break-after:always;
}
p.ParaOverride-39 {
	margin-bottom:9px;
}
li.ParaOverride-40 {
	list-style-position:outside;
	list-style-type:disc;
	margin-left:7px;
	text-indent:0px;
}
p.ParaOverride-41 {
	margin-bottom:6px;
}
p.ParaOverride-42 {
	text-align:right;
}
p.ParaOverride-43 {
	text-align:left;
	text-indent:0px;
}
p.ParaOverride-44 {
	margin-bottom:0px;
	text-align:left;
	text-indent:0px;
}
p.ParaOverride-45 {
	margin-bottom:9px;
	margin-top:3px;
}
p.ParaOverride-46 {
	margin-bottom:0px;
	margin-top:20px;
	text-align:left;
}
p.ParaOverride-47 {
	margin-bottom:0px;
	text-align:left;
}
p.ParaOverride-48 {
	margin-bottom:0px;
	margin-top:23px;
	text-align:left;
}
p.ParaOverride-49 {
	margin-top:43px;
}
p.ParaOverride-50 {
	margin-bottom:0px;
	margin-top:57px;
	text-align:left;
}
p.ParaOverride-51 {
	margin-top:68px;
}
p.ParaOverride-52 {
	margin-top:88px;
}
p.ParaOverride-53 {
	margin-top:31px;
}
p.ParaOverride-54 {
	margin-bottom:0px;
	margin-top:14px;
	text-align:left;
}
p.ParaOverride-55 {
	margin-top:54px;
}
p.ParaOverride-56 {
	list-style-position:inside;
	list-style-type:none;
	margin-left:2px;
	margin-top:6px;
	page-break-after:always;
	text-indent:0px;
}
p.ParaOverride-57 {
	margin-top:94px;
}
p.ParaOverride-58 {
	margin-top:14px;
}
p.ParaOverride-59 {
	margin-top:26px;
}
p.ParaOverride-60 {
	margin-top:20px;
}
p.ParaOverride-61 {
	margin-top:23px;
}
p.ParaOverride-62 {
	margin-bottom:0px;
	margin-top:31px;
}
span.CharOverride-1 {
	font-family:Symbol, sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-2 {
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-3 {
	color:#ffffff;
	font-size:7px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-4 {
	font-size:7px;
}
span.CharOverride-5 {
	font-family:Calibri, sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-6 {
	font-size:9px;
}
span.CharOverride-7 {
	font-family:Symbol, sans-serif;
	font-size:9px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-8 {
	font-family:Symbol, sans-serif;
	font-size:6px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-9 {
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-10 {
	font-size:10px;
}
span.CharOverride-11 {
	font-family:Symbol, sans-serif;
	font-size:10px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-12 {
	font-size:6px;
}
span.CharOverride-13 {
	color:#000000;
	font-family:Calibri, sans-serif;
	font-size:11px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-14 {
	font-size:7px;
	font-style:normal;
	font-weight:bold;
}
p._idGenParaOverride-1 {
	page-break-after:always;
}
col._idGenTableRowColumn-1 {
	width:62px;
}
col._idGenTableRowColumn-2 {
	width:82px;
}
tr._idGenTableRowColumn-3 {
	min-height:19px;
}
tr._idGenTableRowColumn-4 {
	min-height:11px;
}
#_idContainer001, #_idContainer002, #_idContainer004, #_idContainer005, #_idContainer007, #_idContainer008 {
	display:inline-block;
	height:569px;
	width:424px;
}
#_idContainer010, #_idContainer011, #_idContainer013, #_idContainer014, #_idContainer015, #_idContainer016, #_idContainer027, #_idContainer028, #_idContainer034, #_idContainer035, #_idContainer045, #_idContainer046, #_idContainer050, #_idContainer051, #_idContainer067, #_idContainer068 {
	display:inline-block;
	height:571px;
	width:424px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
img._idGenObjectAttribute-2 {
	height:72px;
	width:74px;
}
img._idGenObjectAttribute-3 {
	height:101px;
	width:116px;
}
img._idGenObjectAttribute-4 {
	height:87px;
	width:115px;
}
img._idGenObjectAttribute-5 {
	height:87px;
	width:79px;
}
img._idGenObjectAttribute-6 {
	height:134px;
	width:134px;
}
img._idGenObjectAttribute-7 {
	height:86px;
	width:129px;
}
img._idGenObjectAttribute-8 {
	height:141px;
	width:147px;
}
img._idGenObjectAttribute-9 {
	height:139px;
	width:156px;
}
img._idGenObjectAttribute-10 {
	height:197px;
	width:143px;
}
img._idGenObjectAttribute-11 {
	height:116px;
	width:128px;
}
img._idGenObjectAttribute-12 {
	height:101px;
	width:128px;
}
img._idGenObjectAttribute-13 {
	height:29px;
	width:108px;
}
img._idGenObjectAttribute-14 {
	height:27px;
	width:149px;
}
img._idGenObjectAttribute-15 {
	height:59px;
	width:133px;
}
img._idGenObjectAttribute-16 {
	height:27px;
	width:134px;
}
img._idGenObjectAttribute-17 {
	height:24px;
	width:131px;
}
img._idGenObjectAttribute-18 {
	height:29px;
	width:124px;
}
img._idGenObjectAttribute-19 {
	height:59px;
	width:98px;
}
img._idGenObjectAttribute-20 {
	height:29px;
	width:183px;
}
img._idGenObjectAttribute-21 {
	height:69px;
	width:135px;
}
img._idGenObjectAttribute-22 {
	height:66px;
	width:109px;
}
img._idGenObjectAttribute-23 {
	height:75px;
	width:101px;
}
img._idGenObjectAttribute-24 {
	height:78px;
	width:105px;
}
img._idGenObjectAttribute-25 {
	height:93px;
	width:54px;
}
img._idGenObjectAttribute-26 {
	height:19px;
	width:109px;
}
img._idGenObjectAttribute-27 {
	height:83px;
	width:130px;
}
img._idGenObjectAttribute-28 {
	height:32px;
	width:62px;
}
img._idGenObjectAttribute-29 {
	height:16px;
	width:27px;
}
img._idGenObjectAttribute-30 {
	height:24px;
	width:86px;
}
img._idGenObjectAttribute-31 {
	height:24px;
	width:80px;
}
img._idGenObjectAttribute-32 {
	height:42px;
	width:95px;
}
img._idGenObjectAttribute-33 {
	height:155px;
	width:170px;
}
img._idGenObjectAttribute-34 {
	height:29px;
	width:64px;
}
img._idGenObjectAttribute-35 {
	height:29px;
	width:111px;
}
img._idGenObjectAttribute-36 {
	height:59px;
	width:102px;
}
img._idGenObjectAttribute-37 {
	height:70px;
	width:115px;
}
img._idGenObjectAttribute-38 {
	height:88px;
	width:127px;
}
img._idGenObjectAttribute-39 {
	height:111px;
	width:136px;
}
img._idGenObjectAttribute-40 {
	height:59px;
	width:96px;
}
img._idGenObjectAttribute-41 {
	height:29px;
	width:147px;
}
img._idGenObjectAttribute-42 {
	height:74px;
	width:130px;
}
img._idGenObjectAttribute-43 {
	height:110px;
	width:145px;
}
img._idGenObjectAttribute-44 {
	height:60px;
	width:84px;
}
img._idGenObjectAttribute-45 {
	height:59px;
	width:86px;
}
img._idGenObjectAttribute-46 {
	height:29px;
	width:59px;
}
img._idGenObjectAttribute-47 {
	height:40px;
	width:103px;
}
img._idGenObjectAttribute-48 {
	height:59px;
	width:108px;
}
div._idGenObjectStyleOverride-1 {
	border-width:0px;
}
div._idGenObjectLayout-1 {
	text-align:center;
}
