body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
body {
	-epub-hyphens:auto;
}
table.Tabela {
	border-collapse:collapse;
	border-color:#000000;
	border-style:solid;
	border-width:1px;
	margin-bottom:0px;
	margin-top:0px;
}
td.Tabela {
	border-left-width:1px;
	border-left-style:solid;
	border-left-color:#000000;
	border-top-width:1px;
	border-top-style:solid;
	border-top-color:#000000;
	border-right-width:1px;
	border-right-style:solid;
	border-right-color:#000000;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:#000000;
	padding-top:4px;
	padding-bottom:4px;
	padding-left:4px;
	padding-right:4px;
	vertical-align:top;
}
table.Sem-estilo-de-tabela {
	border-collapse:collapse;
	border-color:#000000;
	border-style:solid;
	border-width:1px;
	margin-bottom:-4px;
	margin-top:4px;
}
td.Sem-estilo-de-tabela {
	border-left-width:1px;
	border-left-style:solid;
	border-left-color:#000000;
	border-top-width:1px;
	border-top-style:solid;
	border-top-color:#000000;
	border-right-width:1px;
	border-right-style:solid;
	border-right-color:#000000;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:#000000;
	padding-top:4px;
	padding-bottom:4px;
	padding-left:4px;
	padding-right:4px;
	vertical-align:top;
}
td.Tabela-Texto {
	background-color:#ffffff;
	border-bottom-color:#fbba00;
	border-left-color:#fbba00;
	border-right-color:#fbba00;
	border-top-color:#fbba00;
}
td.Tabela-Titulo-Principal {
	background-color:#fbba00;
	border-bottom-color:#fbba00;
	border-bottom-width:1px;
	border-left-color:#fbba00;
	border-left-width:1px;
	border-right-color:#fbba00;
	border-right-width:1px;
	border-top-color:#fbba00;
	border-top-width:1px;
	padding-bottom:4px;
	padding-left:4px;
	padding-right:4px;
	padding-top:4px;
	vertical-align:middle;
}
td.Tabela-T-tulo {
	background-color:#fff5e1;
	border-bottom-color:#fbba00;
	border-left-color:#fbba00;
	border-right-color:#fbba00;
	border-top-color:#fbba00;
	padding-bottom:6px;
	padding-left:4px;
	padding-right:4px;
	padding-top:6px;
	vertical-align:middle;
}
p.Tabelas-e-Quadros_tabela-texto {
	color:#000000;
	font-family:"Frutiger LT Std 47 Light Cn", sans-serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:300;
	line-height:1.111;
	margin-bottom:1px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.Tabelas-e-Quadros_tabela-t-tulos {
	color:#fbba00;
	font-family:Calibri, sans-serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1;
	margin-bottom:3px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	text-transform:uppercase;
	widows:2;
}
p.Texto {
	color:#000000;
	font-family:"Frutiger LT Std 45 Light", sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:300;
	line-height:1.273;
	margin-bottom:3px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:28px;
	text-transform:none;
	widows:1;
}
p.T-tulo-01 {
	-epub-hyphens:none;
	color:#0080c9;
	font-family:Calibri, sans-serif;
	font-size:20px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.2;
	margin-bottom:3px;
	margin-left:0;
	margin-right:0;
	margin-top:11px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.T-tulo-02 {
	color:#fbba00;
	font-family:"Lucida Sans", sans-serif;
	font-size:13px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.077;
	margin-bottom:3px;
	margin-left:0;
	margin-right:0;
	margin-top:9px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.texto {
	color:#000000;
	font-family:Arial, sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.273;
	margin-bottom:3px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:28px;
	text-transform:none;
	widows:1;
}
span.Negrito {
	font-family:"Frutiger LT Std 45 Light", sans-serif;
	font-style:normal;
	font-weight:bold;
}
table.TableOverride-1 {
	border-collapse:collapse;
	border-width:1px;
}
td.CellOverride-1 {
	background-color:#49b170;
	border-bottom-color:#ffffff;
	border-bottom-width:2px;
	border-left-color:#ffffff;
	border-left-width:2px;
	border-right-color:#ffffff;
	border-right-width:2px;
	border-top-color:#ffffff;
	border-top-width:2px;
	padding-bottom:0px;
	padding-left:0px;
	padding-right:0px;
	padding-top:0px;
	vertical-align:middle;
}
td.CellOverride-2 {
	background-color:#ed694b;
	border-bottom-color:#ffffff;
	border-bottom-width:2px;
	border-left-color:#ffffff;
	border-left-width:2px;
	border-right-color:#ffffff;
	border-right-width:2px;
	border-top-color:#ffffff;
	border-top-width:2px;
	padding-bottom:0px;
	padding-left:0px;
	padding-right:0px;
	padding-top:0px;
	vertical-align:middle;
}
td.CellOverride-3 {
	background-color:#f59e33;
	border-bottom-color:#ffffff;
	border-bottom-width:2px;
	border-left-color:#ffffff;
	border-left-width:2px;
	border-right-color:#ffffff;
	border-right-width:2px;
	border-top-color:#ffffff;
	border-top-width:2px;
	padding-bottom:0px;
	padding-left:0px;
	padding-right:0px;
	padding-top:0px;
	vertical-align:middle;
}
td.CellOverride-4 {
	background-color:#9284b2;
	border-bottom-color:#ffffff;
	border-bottom-width:2px;
	border-left-color:#ffffff;
	border-left-width:2px;
	border-right-color:#ffffff;
	border-right-width:2px;
	border-top-color:#ffffff;
	border-top-width:2px;
	padding-bottom:0px;
	padding-left:0px;
	padding-right:0px;
	padding-top:0px;
	vertical-align:middle;
}
td.CellOverride-5 {
	background-color:#3babd5;
	border-bottom-color:#ffffff;
	border-bottom-width:2px;
	border-left-color:#ffffff;
	border-left-width:2px;
	border-right-color:#ffffff;
	border-right-width:2px;
	border-top-color:#ffffff;
	border-top-width:2px;
	padding-bottom:0px;
	padding-left:0px;
	padding-right:0px;
	padding-top:0px;
	vertical-align:middle;
}
td.CellOverride-6 {
	background-color:#fff8eb;
	padding-bottom:6px;
	padding-left:6px;
	padding-right:6px;
	padding-top:6px;
	vertical-align:middle;
}
td.CellOverride-7 {
	background-color:#fff8eb;
	padding-bottom:4px;
	padding-left:4px;
	padding-right:4px;
	padding-top:4px;
	vertical-align:middle;
}
td.CellOverride-8 {
	background-color:#fff1d7;
	padding-bottom:6px;
	padding-left:6px;
	padding-right:6px;
	padding-top:6px;
	vertical-align:middle;
}
td.CellOverride-9 {
	background-color:#fff1d7;
	padding-bottom:4px;
	padding-left:4px;
	padding-right:4px;
	padding-top:4px;
	vertical-align:middle;
}
td.CellOverride-10 {
	background-color:#fff8eb;
	padding-bottom:4px;
	padding-top:4px;
	vertical-align:middle;
}
td.CellOverride-11 {
	background-color:#fff1d7;
	padding-bottom:4px;
	padding-top:4px;
	vertical-align:middle;
}
td.CellOverride-12 {
	border-bottom-width:1px;
	border-left-width:1px;
	border-right-width:1px;
	border-top-width:1px;
	padding-bottom:3px;
	padding-left:0px;
	padding-right:0px;
	padding-top:3px;
}
td.CellOverride-13 {
	background-color:#fff8eb;
	border-bottom-width:1px;
	border-left-width:1px;
	border-right-width:1px;
	border-top-width:1px;
	padding-bottom:6px;
	padding-left:6px;
	padding-right:6px;
	padding-top:6px;
	vertical-align:middle;
}
td.CellOverride-14 {
	background-color:#fff1d7;
	border-bottom-width:1px;
	border-left-width:1px;
	border-right-width:1px;
	border-top-width:1px;
	padding-bottom:6px;
	padding-left:6px;
	padding-right:6px;
	padding-top:6px;
	vertical-align:middle;
}
td.CellOverride-15 {
	background-color:#fff8eb;
	padding-bottom:9px;
	padding-left:9px;
	padding-right:9px;
	padding-top:9px;
	vertical-align:middle;
}
td.CellOverride-16 {
	background-color:#fff1d7;
	padding-bottom:9px;
	padding-left:9px;
	padding-right:9px;
	padding-top:9px;
	vertical-align:middle;
}
p.ParaOverride-1 {
	margin-bottom:0px;
	margin-top:6px;
}
p.ParaOverride-2 {
	margin-bottom:0px;
}
p.ParaOverride-3 {
	text-align:center;
}
p.ParaOverride-4 {
	margin-bottom:0px;
	margin-left:28px;
	margin-top:6px;
}
p.ParaOverride-5 {
	text-indent:0px;
}
p.ParaOverride-6 {
	margin-bottom:9px;
	margin-top:6px;
}
p.ParaOverride-7 {
	margin-bottom:6px;
	margin-left:28px;
	margin-top:3px;
}
p.ParaOverride-8 {
	margin-bottom:6px;
	margin-top:6px;
	text-indent:0px;
}
p.ParaOverride-9 {
	margin-top:14px;
	page-break-after:always;
}
p.ParaOverride-10 {
	margin-top:14px;
}
p.ParaOverride-11 {
	margin-top:6px;
}
p.ParaOverride-12 {
	margin-bottom:6px;
	margin-left:28px;
	margin-top:6px;
	text-indent:0px;
}
span.CharOverride-1 {
	font-size:11px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-2 {
	color:#ffffff;
	font-family:Arial, sans-serif;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-transform:none;
}
span.CharOverride-3 {
	font-family:Arial, sans-serif;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-4 {
	font-family:Arial, sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-5 {
	color:#49b170;
	font-family:Arial, sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-6 {
	color:#f59e33;
	font-family:Arial, sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-7 {
	font-family:Arial, sans-serif;
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-8 {
	color:#3babd5;
	font-family:Arial, sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-9 {
	color:#ed694b;
	font-family:Arial, sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-10 {
	color:#9284b2;
	font-family:Arial, sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-11 {
	color:#9284b2;
}
span.CharOverride-12 {
	color:#0080c9;
}
span.CharOverride-13 {
	font-family:Arial, sans-serif;
	font-size:58%;
	font-style:normal;
	font-weight:normal;
	vertical-align:super;
}
span.CharOverride-14 {
	color:#ffffff;
	font-family:Arial, sans-serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-transform:none;
}
span.CharOverride-15 {
	font-family:Arial, sans-serif;
	font-size:8px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-16 {
	font-family:Arial, sans-serif;
	font-size:8px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-17 {
	color:#49b170;
	font-family:Arial, sans-serif;
	font-size:8px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-18 {
	color:#ed694b;
	font-family:Arial, sans-serif;
	font-size:8px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-19 {
	color:#f59e33;
	font-family:Arial, sans-serif;
	font-size:8px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-20 {
	font-family:Arial, sans-serif;
	font-size:8px;
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-21 {
	color:#3babd5;
	font-family:Arial, sans-serif;
	font-size:8px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-22 {
	color:#000000;
	font-family:"Frutiger LT Std 45 Light", sans-serif;
	font-size:6px;
	font-style:normal;
	font-weight:300;
}
td._idGenCellOverride-1 {
	border-bottom-color:#fbba00;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-left-color:#fbba00;
	border-left-style:solid;
	border-left-width:1px;
	border-right-color:#fbba00;
	border-right-style:solid;
	border-right-width:1px;
	border-top-color:#fbba00;
	border-top-style:solid;
	border-top-width:1px;
}
col._idGenTableRowColumn-1 {
	width:57px;
}
col._idGenTableRowColumn-2 {
	width:62px;
}
col._idGenTableRowColumn-3 {
	width:77px;
}
col._idGenTableRowColumn-4 {
	width:116px;
}
col._idGenTableRowColumn-5 {
	width:142px;
}
tr._idGenTableRowColumn-6 {
	min-height:20px;
}
col._idGenTableRowColumn-7 {
	width:51px;
}
col._idGenTableRowColumn-8 {
	width:208px;
}
col._idGenTableRowColumn-9 {
	width:102px;
}
col._idGenTableRowColumn-10 {
	width:86px;
}
tr._idGenTableRowColumn-11 {
	min-height:31px;
}
tr._idGenTableRowColumn-12 {
	min-height:41px;
}
tr._idGenTableRowColumn-13 {
	min-height:75px;
}
tr._idGenTableRowColumn-14 {
	min-height:52px;
}
tr._idGenTableRowColumn-15 {
	min-height:74px;
}
tr._idGenTableRowColumn-16 {
	min-height:72px;
}
tr._idGenTableRowColumn-17 {
	min-height:25px;
}
tr._idGenTableRowColumn-18 {
	min-height:48px;
}
tr._idGenTableRowColumn-19 {
	min-height:37px;
}
tr._idGenTableRowColumn-20 {
	min-height:47px;
}
tr._idGenTableRowColumn-21 {
	min-height:26px;
}
tr._idGenTableRowColumn-22 {
	min-height:38px;
}
tr._idGenTableRowColumn-23 {
	min-height:45px;
}
tr._idGenTableRowColumn-24 {
	min-height:135px;
}
tr._idGenTableRowColumn-25 {
	min-height:58px;
}
tr._idGenTableRowColumn-26 {
	min-height:70px;
}
col._idGenTableRowColumn-27 {
	width:162px;
}
col._idGenTableRowColumn-28 {
	width:285px;
}
tr._idGenTableRowColumn-29 {
	min-height:42px;
}
tr._idGenTableRowColumn-30 {
	min-height:30px;
}
tr._idGenTableRowColumn-31 {
	min-height:78px;
}
tr._idGenTableRowColumn-32 {
	min-height:54px;
}
tr._idGenTableRowColumn-33 {
	min-height:69px;
}
tr._idGenTableRowColumn-34 {
	min-height:66px;
}
col._idGenTableRowColumn-35 {
	width:293px;
}
tr._idGenTableRowColumn-36 {
	min-height:33px;
}
tr._idGenTableRowColumn-37 {
	min-height:44px;
}
tr._idGenTableRowColumn-38 {
	min-height:53px;
}
tr._idGenTableRowColumn-39 {
	min-height:23px;
}
tr._idGenTableRowColumn-40 {
	min-height:35px;
}
tr._idGenTableRowColumn-41 {
	min-height:15px;
}
tr._idGenTableRowColumn-42 {
	min-height:46px;
}
tr._idGenTableRowColumn-43 {
	min-height:36px;
}
tr._idGenTableRowColumn-44 {
	min-height:34px;
}
tr._idGenTableRowColumn-45 {
	min-height:55px;
}
tr._idGenTableRowColumn-46 {
	min-height:24px;
}
table._idGenTablePara-1 {
	margin-left:28px;
}
div._idGenObjectStyleOverride-1 {
	border-width:0px;
}
