body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
body {
	-epub-hyphens:auto;
}
div.Antigos_PG-Direita {
	border-style:solid;
	background-color:#ffffff;
}
div.Antigos_PG-Esquerda {
	border-style:solid;
	background-color:#ffffff;
}
table.Tabela-b-sica {
	border-collapse:collapse;
	border-color:#000000;
	border-style:solid;
	border-width:1px;
	margin-bottom:-4px;
	margin-top:4px;
}
td.Tabela-b-sica {
	border-left-width:1px;
	border-left-style:solid;
	border-left-color:#000000;
	border-top-width:1px;
	border-top-style:solid;
	border-top-color:#000000;
	border-right-width:1px;
	border-right-style:solid;
	border-right-color:#000000;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:#000000;
	padding-top:4px;
	padding-bottom:4px;
	padding-left:4px;
	padding-right:4px;
	vertical-align:top;
}
table.Sem-estilo-de-tabela {
	border-collapse:collapse;
	border-color:#000000;
	border-style:solid;
	border-width:1px;
	margin-bottom:-4px;
	margin-top:4px;
}
td.Sem-estilo-de-tabela {
	border-left-width:1px;
	border-left-style:solid;
	border-left-color:#000000;
	border-top-width:1px;
	border-top-style:solid;
	border-top-color:#000000;
	border-right-width:1px;
	border-right-style:solid;
	border-right-color:#000000;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:#000000;
	padding-top:4px;
	padding-bottom:4px;
	padding-left:4px;
	padding-right:4px;
	vertical-align:top;
}
p.Cap-tulo {
	color:#000000;
	font-family:Arial, sans-serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.2;
	margin-bottom:3px;
	margin-left:0;
	margin-right:0;
	margin-top:6px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Par-grafo-b-sico {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.T-tulo-02 {
	color:#0080c9;
	font-family:"Frutiger LT Std 45 Light", sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.182;
	margin-bottom:3px;
	margin-left:0;
	margin-right:0;
	margin-top:17px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.T-tulo-03-margem {
	-epub-hyphens:none;
	color:#000000;
	font-family:Arial, sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.182;
	margin-bottom:3px;
	margin-left:0;
	margin-right:0;
	margin-top:11px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.T-tulo-04 {
	-epub-hyphens:none;
	color:#fbba00;
	font-family:Arial, sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.182;
	margin-bottom:3px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.T-tulo-04-margem {
	-epub-hyphens:none;
	color:#fbba00;
	font-family:Arial, sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.182;
	margin-bottom:3px;
	margin-left:0;
	margin-right:0;
	margin-top:11px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
li.bullet-texto-inicial {
	color:#000000;
	font-family:Arial, sans-serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	list-style-position:outside;
	margin-bottom:0;
	margin-left:28px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.credito {
	color:#575756;
	font-family:Arial, sans-serif;
	font-size:5px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:2.4;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:right;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
li.questao-a- {
	color:#000000;
	font-family:Arial, sans-serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.3;
	list-style-position:outside;
	list-style-type:lower-alpha;
	margin-bottom:3px;
	margin-left:20px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
li.questao-a--2 {
	color:#000000;
	font-family:Arial, sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.364;
	list-style-position:outside;
	list-style-type:lower-alpha;
	margin-bottom:3px;
	margin-left:20px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.tabela-cabecalho {
	color:#ffffff;
	font-family:Arial, sans-serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.5;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.tabela-texto {
	color:#575756;
	font-family:Arial, sans-serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.5;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.texto {
	color:#000000;
	font-family:Arial, sans-serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:3px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:20px;
	text-transform:none;
	widows:1;
}
p.texto-recuo-7mm {
	color:#000000;
	font-family:Arial, sans-serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:3px;
	margin-left:20px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
span._0_bold {
	color:#000000;
	font-family:"Times New Roman", serif;
	font-style:normal;
	font-weight:bold;
}
span.bullet-azul {
	color:#0080c9;
	font-family:Arial, sans-serif;
	font-size:10px;
	font-style:normal;
	font-weight:normal;
}
table.TableOverride-1 {
	border-collapse:collapse;
	border-style:none;
	border-width:0px;
	margin-left:auto;
	margin-right:auto;
}
td.CellOverride-1 {
	background-color:#fbba00;
	border-bottom-color:#ffffff;
	border-left-color:#ffffff;
	border-right-color:#ffffff;
	border-top-color:#ffffff;
	padding-bottom:3px;
	padding-left:3px;
	padding-right:3px;
	padding-top:3px;
	vertical-align:middle;
}
td.CellOverride-2 {
	background-color:#ffdd94;
	border-bottom-color:#ffffff;
	border-left-color:#ffffff;
	border-right-color:#ffffff;
	border-top-color:#ffffff;
	padding-bottom:3px;
	padding-left:3px;
	padding-right:3px;
	padding-top:3px;
	vertical-align:middle;
}
td.CellOverride-3 {
	background-color:#fbba00;
	border-bottom-color:#fbba00;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-left-color:#fbba00;
	border-left-style:solid;
	border-left-width:1px;
	border-right-color:#ffffff;
	border-right-style:solid;
	border-right-width:1px;
	border-top-color:#fbba00;
	border-top-style:solid;
	border-top-width:1px;
	padding-bottom:1px;
	padding-left:1px;
	padding-right:1px;
	padding-top:1px;
	vertical-align:middle;
}
td.CellOverride-4 {
	background-color:#fbba00;
	border-bottom-color:#fbba00;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-left-color:#ffffff;
	border-left-style:solid;
	border-left-width:1px;
	border-right-color:#ffffff;
	border-right-style:solid;
	border-right-width:1px;
	border-top-color:#fbba00;
	border-top-style:solid;
	border-top-width:1px;
	padding-bottom:1px;
	padding-left:1px;
	padding-right:1px;
	padding-top:1px;
	vertical-align:middle;
}
td.CellOverride-5 {
	background-color:#fbba00;
	border-bottom-color:#fbba00;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-left-color:#ffffff;
	border-left-style:solid;
	border-left-width:1px;
	border-right-color:#fbba00;
	border-right-style:solid;
	border-right-width:1px;
	border-top-color:#fbba00;
	border-top-style:solid;
	border-top-width:1px;
	padding-bottom:1px;
	padding-left:1px;
	padding-right:1px;
	padding-top:1px;
	vertical-align:middle;
}
td.CellOverride-6 {
	border-bottom-color:#fbba00;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-left-color:#fbba00;
	border-left-style:solid;
	border-left-width:1px;
	border-right-color:#fbba00;
	border-right-style:solid;
	border-right-width:1px;
	border-top-color:#fbba00;
	border-top-style:solid;
	border-top-width:1px;
	padding-bottom:1px;
	padding-left:1px;
	padding-right:1px;
	padding-top:1px;
	vertical-align:middle;
}
p.ParaOverride-1 {
	text-indent:14px;
}
p.ParaOverride-2 {
	margin-bottom:0px;
	margin-top:3px;
}
p.ParaOverride-3 {
	margin-bottom:0px;
	margin-top:6px;
}
p.ParaOverride-4 {
	text-align:center;
	text-indent:0px;
}
p.ParaOverride-5 {
	margin-bottom:6px;
	text-indent:0px;
}
p.ParaOverride-6 {
	text-align:center;
}
p.ParaOverride-7 {
	margin-bottom:11px;
	margin-top:9px;
	text-align:center;
}
p.ParaOverride-8 {
	margin-bottom:0px;
}
li.ParaOverride-9, p.ParaOverride-9 {
	margin-bottom:0px;
	text-indent:0px;
}
li.ParaOverride-10, p.ParaOverride-10 {
	text-indent:0px;
}
p.ParaOverride-11 {
	margin-bottom:11px;
}
li.ParaOverride-12 {
	margin-bottom:9px;
	text-indent:0px;
}
li.ParaOverride-13 {
	margin-top:6px;
	text-indent:0px;
}
li.ParaOverride-14 {
	margin-bottom:9px;
	margin-top:6px;
	text-indent:0px;
}
p.ParaOverride-15 {
	margin-top:6px;
}
li.ParaOverride-16 {
	margin-bottom:6px;
	margin-top:14px;
	text-indent:0px;
}
p.ParaOverride-17 {
	margin-left:0px;
}
p.ParaOverride-18 {
	page-break-after:always;
	text-indent:0px;
}
p.ParaOverride-19 {
	margin-bottom:0px;
	text-align:center;
	text-indent:0px;
}
p.ParaOverride-20 {
	margin-top:34px;
}
li.ParaOverride-21 {
	margin-bottom:0px;
	text-align:left;
	text-indent:0px;
}
p.ParaOverride-22 {
	margin-top:3px;
}
p.ParaOverride-23 {
	margin-bottom:1px;
}
p.ParaOverride-24 {
	margin-bottom:6px;
	margin-top:6px;
}
p.ParaOverride-25 {
	margin-bottom:9px;
}
p.ParaOverride-26 {
	margin-top:11px;
}
p.ParaOverride-27 {
	margin-top:9px;
}
p.ParaOverride-28 {
	margin-bottom:6px;
	margin-top:3px;
}
p.ParaOverride-29 {
	text-align:left;
}
p.ParaOverride-30 {
	margin-bottom:0px;
	margin-top:9px;
}
p.ParaOverride-31 {
	margin-bottom:9px;
	margin-top:14px;
	text-indent:20px;
}
p.ParaOverride-32 {
	margin-top:14px;
}
p.ParaOverride-33 {
	margin-top:17px;
}
li.ParaOverride-34 {
	margin-top:3px;
	text-indent:0px;
}
p.ParaOverride-35 {
	margin-bottom:11px;
	margin-top:6px;
}
p.ParaOverride-36 {
	margin-bottom:11px;
	margin-top:9px;
}
p.ParaOverride-37 {
	margin-bottom:6px;
	margin-top:9px;
}
p.ParaOverride-38 {
	margin-bottom:9px;
	margin-top:6px;
}
p.ParaOverride-39 {
	margin-top:6px;
	page-break-after:always;
}
p.ParaOverride-40 {
	margin-bottom:11px;
	margin-top:3px;
}
p.ParaOverride-41 {
	margin-bottom:9px;
	margin-top:3px;
}
p.ParaOverride-42 {
	margin-bottom:6px;
}
p.ParaOverride-43 {
	margin-bottom:6px;
	margin-top:4px;
}
p.ParaOverride-44 {
	margin-top:3px;
	page-break-after:always;
}
li.ParaOverride-45 {
	margin-bottom:11px;
	margin-top:6px;
	text-indent:0px;
}
p.ParaOverride-46 {
	margin-bottom:0px;
	text-align:left;
}
p.ParaOverride-47 {
	text-indent:20px;
}
p.ParaOverride-48 {
	margin-bottom:0px;
	margin-top:9px;
	page-break-after:always;
}
p.ParaOverride-49 {
	margin-bottom:14px;
	margin-top:9px;
}
p.ParaOverride-50 {
	margin-bottom:0px;
	margin-top:0px;
}
p.ParaOverride-51 {
	margin-top:0px;
	text-align:center;
}
p.ParaOverride-52 {
	margin-bottom:0px;
	margin-top:3px;
	page-break-after:always;
}
span.CharOverride-1 {
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-2 {
	color:#ffffff;
	font-size:7px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-3 {
	font-size:7px;
}
span.CharOverride-4 {
	font-size:58%;
	vertical-align:sub;
}
span.CharOverride-5 {
	font-family:Symbol, sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-6 {
	color:#ffffff;
	font-size:7px;
}
span.CharOverride-7 {
	font-family:Symbol, sans-serif;
	font-size:7px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-8 {
	font-family:Arial, sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-9 {
	font-size:10px;
}
span.CharOverride-10 {
	font-family:"Times New Roman", serif;
	font-size:15px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-11 {
	font-size:58%;
	vertical-align:super;
}
col._idGenTableRowColumn-1 {
	width:62px;
}
col._idGenTableRowColumn-2 {
	width:82px;
}
tr._idGenTableRowColumn-3 {
	min-height:19px;
}
tr._idGenTableRowColumn-4 {
	min-height:11px;
}
col._idGenTableRowColumn-5 {
	width:43px;
}
col._idGenTableRowColumn-6 {
	width:32px;
}
col._idGenTableRowColumn-7 {
	width:37px;
}
tr._idGenTableRowColumn-8 {
	min-height:31px;
}
tr._idGenTableRowColumn-9 {
	min-height:20px;
}
#_idContainer001, #_idContainer002, #_idContainer005, #_idContainer006, #_idContainer009, #_idContainer010 {
	display:inline-block;
	height:569px;
	width:424px;
}
#_idContainer015, #_idContainer016, #_idContainer020, #_idContainer021, #_idContainer024, #_idContainer025, #_idContainer029, #_idContainer030, #_idContainer032, #_idContainer033, #_idContainer041, #_idContainer042 {
	display:inline-block;
	height:571px;
	width:424px;
}
#_idContainer035 {
	display:inline-block;
	height:128px;
	width:128px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
img._idGenObjectAttribute-2 {
	height:65px;
	width:95px;
}
img._idGenObjectAttribute-3 {
	height:25px;
	width:75px;
}
img._idGenObjectAttribute-4 {
	height:25px;
	width:86px;
}
img._idGenObjectAttribute-5 {
	height:26px;
	width:107px;
}
img._idGenObjectAttribute-6 {
	height:70px;
	width:133px;
}
img._idGenObjectAttribute-7 {
	height:88px;
	width:89px;
}
img._idGenObjectAttribute-8 {
	height:71px;
	width:150px;
}
img._idGenObjectAttribute-9 {
	height:23px;
	width:25px;
}
img._idGenObjectAttribute-10 {
	height:26px;
	width:32px;
}
img._idGenObjectAttribute-11 {
	height:24px;
	width:42px;
}
img._idGenObjectAttribute-12 {
	height:25px;
	width:55px;
}
img._idGenObjectAttribute-13 {
	height:10px;
	width:11px;
}
img._idGenObjectAttribute-14 {
	height:26px;
	width:62px;
}
img._idGenObjectAttribute-15 {
	height:25px;
	width:25px;
}
img._idGenObjectAttribute-16 {
	height:113px;
	width:127px;
}
img._idGenObjectAttribute-17 {
	height:16px;
	width:18px;
}
img._idGenObjectAttribute-18 {
	height:15px;
	width:38px;
}
img._idGenObjectAttribute-19 {
	height:27px;
	width:68px;
}
img._idGenObjectAttribute-20 {
	height:26px;
	width:46px;
}
img._idGenObjectAttribute-21 {
	height:27px;
	width:50px;
}
img._idGenObjectAttribute-22 {
	height:27px;
	width:59px;
}
img._idGenObjectAttribute-23 {
	height:31px;
	width:54px;
}
img._idGenObjectAttribute-24 {
	height:27px;
	width:60px;
}
img._idGenObjectAttribute-25 {
	height:25px;
	width:14px;
}
img._idGenObjectAttribute-26 {
	height:29px;
	width:51px;
}
img._idGenObjectAttribute-27 {
	height:26px;
	width:47px;
}
img._idGenObjectAttribute-28 {
	height:25px;
	width:16px;
}
img._idGenObjectAttribute-29 {
	height:29px;
	width:18px;
}
img._idGenObjectAttribute-30 {
	height:27px;
	width:61px;
}
img._idGenObjectAttribute-31 {
	height:24px;
	width:91px;
}
img._idGenObjectAttribute-32 {
	height:24px;
	width:59px;
}
img._idGenObjectAttribute-33 {
	height:27px;
	width:49px;
}
img._idGenObjectAttribute-34 {
	height:62px;
	width:109px;
}
div._idGenObjectStyleOverride-1 {
	border-width:0px;
}
div._idGenObjectStyleOverride-2 {
	border-color:#575756;
	border-style:solid;
	border-width:1px;
}
div._idGenObjectStyleOverride-3 {
	border-bottom-left-radius:12px;
	border-bottom-right-radius:12px;
	border-top-left-radius:12px;
	border-top-right-radius:12px;
	border-width:0px;
}
div._idGenObjectLayout-1 {
	text-align:center;
}
