body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
body {
	-epub-hyphens:auto;
}
div.Antigos_PG-Direita {
	border-style:solid;
	background-color:#ffffff;
}
div.Antigos_PG-Esquerda {
	border-style:solid;
	background-color:#ffffff;
}
table.Tabela-b-sica {
	border-collapse:collapse;
	border-color:#000000;
	border-style:solid;
	border-width:1px;
	margin-bottom:-4px;
	margin-top:4px;
}
td.Tabela-b-sica {
	border-left-width:1px;
	border-left-style:solid;
	border-left-color:#000000;
	border-top-width:1px;
	border-top-style:solid;
	border-top-color:#000000;
	border-right-width:1px;
	border-right-style:solid;
	border-right-color:#000000;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:#000000;
	padding-top:4px;
	padding-bottom:4px;
	padding-left:4px;
	padding-right:4px;
	vertical-align:top;
}
p.Cap-tulo {
	color:#000000;
	font-family:Arial, sans-serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.2;
	margin-bottom:3px;
	margin-left:0;
	margin-right:0;
	margin-top:6px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Par-grafo-b-sico {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.T-tulo-02 {
	color:#0080c9;
	font-family:"Frutiger LT Std 45 Light", sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.182;
	margin-bottom:3px;
	margin-left:0;
	margin-right:0;
	margin-top:17px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.T-tulo-03-margem {
	-epub-hyphens:none;
	color:#000000;
	font-family:Arial, sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.182;
	margin-bottom:3px;
	margin-left:0;
	margin-right:0;
	margin-top:11px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.T-tulo-04 {
	-epub-hyphens:none;
	color:#fbba00;
	font-family:Arial, sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.182;
	margin-bottom:3px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.T-tulo-04-margem {
	-epub-hyphens:none;
	color:#fbba00;
	font-family:Arial, sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.182;
	margin-bottom:3px;
	margin-left:0;
	margin-right:0;
	margin-top:11px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
li.bullet-texto-inicial {
	color:#000000;
	font-family:Arial, sans-serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	list-style-position:outside;
	margin-bottom:0;
	margin-left:28px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
li.questao-a- {
	color:#000000;
	font-family:Arial, sans-serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.3;
	list-style-position:outside;
	list-style-type:lower-alpha;
	margin-bottom:3px;
	margin-left:20px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.texto {
	color:#000000;
	font-family:Arial, sans-serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:3px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:20px;
	text-transform:none;
	widows:1;
}
span.numero-questao {
	color:#fbba00;
	font-family:Arial, sans-serif;
	font-size:10px;
	font-style:normal;
	font-weight:normal;
}
td.CellOverride-1 {
	background-color:#fbba00;
	border-bottom-color:#ffffff;
	border-left-color:#ffffff;
	border-right-color:#ffffff;
	border-top-color:#ffffff;
	padding-bottom:3px;
	padding-left:3px;
	padding-right:3px;
	padding-top:3px;
	vertical-align:middle;
}
td.CellOverride-2 {
	background-color:#ffdd94;
	border-bottom-color:#ffffff;
	border-left-color:#ffffff;
	border-right-color:#ffffff;
	border-top-color:#ffffff;
	padding-bottom:3px;
	padding-left:3px;
	padding-right:3px;
	padding-top:3px;
	vertical-align:middle;
}
p.ParaOverride-1 {
	text-indent:14px;
}
p.ParaOverride-2 {
	-epub-hyphens:none;
}
p.ParaOverride-3 {
	margin-bottom:0px;
}
p.ParaOverride-4 {
	margin-bottom:0px;
	margin-top:3px;
}
p.ParaOverride-5 {
	text-align:center;
	text-indent:0px;
}
p.ParaOverride-6 {
	margin-bottom:6px;
	text-indent:0px;
}
p.ParaOverride-7 {
	margin-top:11px;
}
p.ParaOverride-8, li.ParaOverride-8 {
	text-indent:0px;
}
p.ParaOverride-9 {
	margin-top:9px;
	text-indent:0px;
}
p.ParaOverride-10, li.ParaOverride-10 {
	text-align:left;
	text-indent:0px;
}
p.ParaOverride-11, li.ParaOverride-11 {
	margin-top:6px;
	text-align:left;
	text-indent:0px;
}
p.ParaOverride-12 {
	margin-top:9px;
	text-align:left;
	text-indent:0px;
}
p.ParaOverride-13 {
	margin-top:6px;
}
li.ParaOverride-14 {
	margin-bottom:0px;
	text-indent:0px;
}
li.ParaOverride-15 {
	margin-bottom:9px;
	text-indent:0px;
}
p.ParaOverride-16 {
	margin-top:17px;
}
p.ParaOverride-17 {
	margin-left:20px;
	text-indent:0px;
}
p.ParaOverride-18 {
	margin-bottom:0px;
	margin-left:20px;
	text-align:left;
	text-indent:0px;
}
p.ParaOverride-19 {
	margin-left:20px;
	text-align:left;
	text-indent:0px;
}
li.ParaOverride-20 {
	margin-top:14px;
	text-align:left;
	text-indent:0px;
}
p.ParaOverride-21 {
	margin-left:20px;
	margin-top:14px;
	text-align:left;
	text-indent:0px;
}
li.ParaOverride-22 {
	margin-top:3px;
	text-indent:0px;
}
li.ParaOverride-23 {
	margin-top:60px;
	text-align:left;
	text-indent:0px;
}
p.ParaOverride-24 {
	text-indent:20px;
}
p.ParaOverride-25 {
	margin-bottom:6px;
	margin-top:3px;
}
p.ParaOverride-26 {
	margin-top:9px;
	text-align:center;
}
p.ParaOverride-27 {
	margin-bottom:11px;
	margin-top:9px;
	text-align:center;
}
p.ParaOverride-28 {
	text-align:center;
}
p.ParaOverride-29 {
	margin-bottom:0px;
	text-align:left;
}
p.ParaOverride-30 {
	margin-top:3px;
}
p.ParaOverride-31 {
	margin-top:9px;
}
p.ParaOverride-32 {
	margin-bottom:0px;
	margin-left:20px;
	text-indent:0px;
}
li.ParaOverride-33 {
	margin-bottom:0px;
	margin-top:3px;
	text-indent:0px;
}
p.ParaOverride-34 {
	margin-bottom:6px;
	margin-top:3px;
	text-align:left;
}
p.ParaOverride-35 {
	text-align:left;
}
p.ParaOverride-36 {
	margin-bottom:9px;
	text-align:left;
}
p.ParaOverride-37 {
	margin-bottom:9px;
	margin-top:3px;
}
span.CharOverride-1 {
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-2 {
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-3 {
	color:#ffffff;
	font-size:7px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-4 {
	font-size:7px;
}
span.CharOverride-5 {
	font-family:Calibri, sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-6 {
	font-family:Symbol, sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-7 {
	font-size:58%;
	vertical-align:super;
}
span.CharOverride-8 {
	font-family:"Times New Roman", serif;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-9 {
	font-family:"Arial Unicode MS", sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-10 {
	font-size:58%;
	vertical-align:sub;
}
span.CharOverride-11 {
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-12 {
	font-family:Arial, sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-13 {
	font-family:Arial, sans-serif;
	font-style:normal;
	font-weight:bold;
}
p._idGenParaOverride-1 {
	page-break-after:always;
}
col._idGenTableRowColumn-1 {
	width:62px;
}
col._idGenTableRowColumn-2 {
	width:82px;
}
tr._idGenTableRowColumn-3 {
	min-height:19px;
}
tr._idGenTableRowColumn-4 {
	min-height:11px;
}
#_idContainer001, #_idContainer002, #_idContainer012, #_idContainer013, #_idContainer015, #_idContainer016 {
	display:inline-block;
	height:569px;
	width:424px;
}
#_idContainer018, #_idContainer019, #_idContainer026, #_idContainer027, #_idContainer032, #_idContainer033, #_idContainer036, #_idContainer037, #_idContainer041, #_idContainer042, #_idContainer046, #_idContainer047, #_idContainer054, #_idContainer055 {
	display:inline-block;
	height:571px;
	width:424px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
img._idGenObjectAttribute-2 {
	height:153px;
	width:141px;
}
img._idGenObjectAttribute-3 {
	height:80px;
	width:119px;
}
img._idGenObjectAttribute-4 {
	height:80px;
	width:117px;
}
img._idGenObjectAttribute-5 {
	height:79px;
	width:116px;
}
img._idGenObjectAttribute-6 {
	height:28px;
	width:122px;
}
img._idGenObjectAttribute-7 {
	height:27px;
	width:145px;
}
img._idGenObjectAttribute-8 {
	height:25px;
	width:113px;
}
img._idGenObjectAttribute-9 {
	height:27px;
	width:104px;
}
img._idGenObjectAttribute-10 {
	height:26px;
	width:34px;
}
img._idGenObjectAttribute-11 {
	height:28px;
	width:31px;
}
img._idGenObjectAttribute-12 {
	height:68px;
	width:87px;
}
img._idGenObjectAttribute-13 {
	height:67px;
	width:105px;
}
img._idGenObjectAttribute-14 {
	height:71px;
	width:124px;
}
img._idGenObjectAttribute-15 {
	height:65px;
	width:154px;
}
img._idGenObjectAttribute-16 {
	height:107px;
	width:143px;
}
img._idGenObjectAttribute-17 {
	height:23px;
	width:109px;
}
img._idGenObjectAttribute-18 {
	height:70px;
	width:86px;
}
img._idGenObjectAttribute-19 {
	height:23px;
	width:47px;
}
img._idGenObjectAttribute-20 {
	height:37px;
	width:101px;
}
img._idGenObjectAttribute-21 {
	height:23px;
	width:64px;
}
img._idGenObjectAttribute-22 {
	height:25px;
	width:11px;
}
div._idGenObjectStyleOverride-1 {
	border-width:0px;
}
div._idGenObjectLayout-1 {
	text-align:center;
}
