.container{
    width: 600px;
    margin-left: 20%;
    margin-right: 20%;
}
.center{
    text-align: center;
    margin-left: 30%;
}
.layoutManual{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1px;
    margin-left: 2px;
    background-color: rgb(254, 243, 218);
}
.layoutLateral{
    background-color: rgb(254, 235, 196);
    text-align: left;
    
}
.layoutCentral{
    background-color: rgb(254, 243, 218);
}

/**********************************************************************************************
    Classes Alteradas U1
**********************************************************************************************/
/**********************************************************************************************/
/**********************************************************************************************/
/**********************************************************************************************/
li.bullet-texto-inicial {
	color:#000000;
	font-family:Arial, sans-serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	list-style-position:outside;
	margin-bottom:0;
	margin-left:0px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
li.texto-bullet {
	color:#000000;
	font-family:Arial, sans-serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	list-style-position:outside;
	margin-bottom:3px;
	margin-left:0px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
div._idGenObjectStyleOverride-1 {
	border-width:0px;
	margin-right: 10px;
	margin-left: 10px;
}
li.questao-a- {
	color:#000000;
	font-family:Arial, sans-serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	list-style-position:outside;
	list-style-type:lower-alpha;
	margin-bottom:3px;
	margin-left:0px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}